<!doctype html>
<html ng-app="app">
  <head>
    <title>chapter4-controllers app06 Adding app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js"></script>
  </head>
  <body>
    <div ng-controller="FirstCtrl">
      <h4>The simplest adding machine ever</h4>
      <button ng-click="add(1)" class="button">Add</button>
      <button ng-click="subtract(1)" class="button alert">Subtract</button>
      <h4>Current count: {{ counter }}</h4>
    </div>
    <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>